$main-color: #217eaa;
$sec-color: #4fc3f7;
$detail-color: #009688;
$title-color: #222;
$title-font:'Raleway', sans-serif;
$sec-font:'Open Sans', sans-serif;
/* General */
* { vertical-align: top;}
body {
	background-color: #f8f8f8 !important;
	color: #373737;
	h2 {font-family: $sec-font !important;}
	h1,h2 {	font-weight: 800;}
	h3,h4,h5,h6 {font-weight: 600;}
	h1,h2,h3,h4,h5,h6 {font-family: $title-font; line-height: 125%;}
	a {
		text-decoration: none !important;
		color: inherit !important;
		font-family: $title-font;
	}
	p {
		font-family: $sec-font !important;
		font-size: 16px; 
		line-height: 200%;
	}
	ul {list-style: none; padding-left: 0;}
	hr {
		margin: 0;
		border-color: #ddd;
	}
	.section-block {
		padding: 90px 0;
		.container {
			width: 100%;
			margin: 0;
			padding: 0;
			z-index: 1;
			.row {
				margin: 0 !important;
				padding: 0 30px;
				h1 {
					font-weight: 900;
					font-size: 45px;
					margin: 0;
				}
				h2 {
					margin: 20px 0;
					font-family: $sec-font !important;
				}
			}
		}
	}
	.highlight {
		border: solid rgba(0,0,0,.075);
		border-width: 1px 0;
		background: rgba(33,126,170,.15);
	}
	.fade-in-up {
		-webkit-animation: in 0.8s linear 0s 1;
		-moz-animation: in 0.8s linear 0s 1;
		-o-animation: in 0.8s linear 0s 1;
		animation: in 0.8s linear 0s 1;
	}
	.logo {
		width: 50px;
		height: 50px;
	}
	.centered {margin: auto;}
	.subutton {
		display: block;
		text-align: center;
		padding: 1.3% 2.6%;
		border-radius: 7.5px;
		background: $detail-color;
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff !important;
		transition: all .15s;
	}
	.subutton:hover {
		background: #008275 !important;
		transition: all .15s;
	}

	/* Header and navigation */ 
	header {
		background: $main-color;
		min-height: 85px;
		padding: 20px 0 15px;
		width: 100% !important;
		display: inline-block;
		position: absolute;
		top: 0; left: 0;
		z-index: 2;
		transition: all .15s;
		nav {
			padding: 0 20px;
			a {
				padding: 10px 15px;
				width: 100%;
				height: 100%;
				display: inline-block;
			}
			h1 {
				height: 100%;
				display: inline-block;
				margin: 0;
				font-size: 42px;
				line-height: 100%;
				color: #fff;
				a {padding: 0 15px !important;}
			}
			ul.mainnav , ul.secnav {
				margin: 0 !important;
				display: inline-block;
				letter-spacing: 0.75px;
				transition: all .6s;
				li {
					display: inline-block;
					font-size: 17px;
					font-weight: 800;
					margin: 0;
					height: 100%;
					a {
						text-transform: uppercase;
						position: relative;
						width: 100%;
						transition: all .3s;
					}
					a:before {
						width: 0;
						height: 2px;
						background: $sec-color;
						content: '';
						position: absolute;
						display: block;
						bottom: -1px; left: 0;
						transition: all .3s;
					}
					a:hover {
						transition: all .3s;
						color: $sec-color !important;
					}
					a:hover:before {width: 100%;}
				}
			}
			ul.secnav {
				float: right;
				.signup {border: 3px solid white; transition: all .3s; color: #fff !important;}
				.signup:before {width: 0 !important;}
				.signup:hover {border-color: $sec-color; transition: all .3s}
			}
			.hambutton {
				width: 0;
				height: 0;
				background: rgba(0,0,0,.1);
				display: block;
				visibility: hidden;
				position: absolute;
				top: 0; right: 0;
				cursor: pointer;
				.linecont {
					width: 45px;
					height: 45px;
					margin: 20px;
					position: relative;
					.line {
						transition: all .3s;
						display: block;
						position: absolute;
						background: #fff;
						height: 5px;
						width: 100%;
					}
					.top {top: 0;}
					.mid {top: 20px;}
					.bot {top: 40px;}
				}
			}
			.openmenu {
				visibility: visible !important;
				max-height: 300px !important;
				transition: all .6s;
				.linecont {
					.top {top: 20px; transform: rotate(-45deg)}
					.mid {visibility: hidden; width: 0;}
					.bot {top: 20px; transform: rotate(45deg)}
				}
			}
			
		}
	}

	/* Footer */

	footer {
		height: 250px;
		padding: 40px !important;
		.container {
			height: 100%;
			.row.footlogo {
				padding: 80px 0 60px;
				div {
					text-align: center;
					img {
						margin: 0;
						width: 140px;
					}
					p {
						font-family: $sec-font !important;
						font-weight: 400;
					}
				}
			}
			.row.footlinks {
				text-align: center;
				font-size: 17px;
				a {
					display: inline-block;
					padding: 10px 30px !important;
				}
				a:hover {color: $detail-color !important;}
			}
		}
	}
	
	/* Landing */
	.intro {
		background-color: $main-color;
		height: 500px;
		text-align: center;
		box-shadow: 0 2px 5px rgba(0,0,0,0.26);
		#quote {
			padding: 180px 0 153px;
			.text {
				h1 {
				font-weight: 700;
				color: #fff;
				font-size: 45px;
				}
				p {
					font-size: 24px;
					margin: 10px 0;
					line-height: 150%;
				}
			}
		}
	}

	section#explanations {
		.row {
			width: 100%;
			min-height: 65%;
			text-align: center;
			h1 {margin-bottom: 60px; color: $title-color;}
			div {padding: 0 50px;}
		}
	}
	section#breaker {
		background: $detail-color;
		p {
			text-align: center; 
			margin: 0;
		}
	}
	section#features {
		.row {
			padding-top: 60px;
			h3 {
				margin-bottom: 24px;
				color: #009688;
			}
			img {
				width: 100%;
			}
		}
		.row:first-child {padding-top: 0;}
	}
	section#startnow {
		width: 100%;
		letter-spacing: 0.75px;
		h2 {
			margin: 0;
			margin-bottom: 40px;
			text-align: center;
		}
		a {width: 180px;}
	}

	/* Sign up and signup */
	section#signup, section#signin {
		padding: 120px 0 0 0;
		.container {
			.row {
				a {color: $main-color !important;}
				a:hover {text-decoration: underline;}
				.account-form {
					padding: 15px 20px;
					border-width: 1px;
					h2 {margin: 0 0 20px; font-weight: 600;}
					form {
						.formgroup {
							padding: 0 5%;
							input {
								padding: 10px;
								border: 1px solid #ccc;
								outline: none;
								transition: border-width .3s;
							}
							input:focus {
								border-bottom-color: $sec-color;
								border-bottom-width: 3px;
  								transition: border-width .3s;
							}
							.control input {width: 100% !important; height: 42px;}
							.control {padding: 0 0 20px;}
							.firstname {margin-right: 4%;}
							.firstname, .lastname {
								width: 48% !important; 
								display: inline-block;
								padding-bottom: 20px;
							}
							.firstname input, .lastname input {width: 100%; height: 42px;}
							.terms {
								padding: 2% 0;
								input { margin: 5px 10px !important;}
								p {
									font-size: 12px !important;
									margin: 0;
									display: inline-block;
								}
							}
							.actions {
								padding: 5% 10%;
								input {
									width: 100%;
									background: $detail-color;
								}
							}
						}
						.subutton {padding: 20px 40px !important;}
					}
				}
				.account-extra {
					padding-top: 20px;
					p {
						font-size: 15px !important; 
						display: inline-block;
						color: #999 !important;
					}
				}
			}
		}
	}

	/* Wallet */
	section#balance {
		padding-top: 120px;
		.container {
			padding: 45px;
			h1 {line-height: 75%; margin: 3.5px 0 0;}
			h1, h3 {display: inline-block;}
			.row {
				.balance {
					text-align: center;
					.maintenance {
							background: url(../img/wrench.png) no-repeat;
							background-size: 50px 50px;
							background-position: center 0;
							padding-top: 50px;
							color: #F44336;
						}
					.maintenance2 {
						background: url(../img/wrench.png) no-repeat;
						background-size: 37px 37px;
						background-position: center 0;
						padding-top: 42px;
						color: #F44336;
					}
				}
			}
			.coin-head {
				color: #999;
				padding-top: 30px;
				padding-bottom: 30px;
				h3 {
					margin: 20px 0 0;
					color: #999;
				}
			}
			.coin {
				padding-top: 20px;
				min-height: 40px;
				div {
					img {width: 40px; margin-right: 10px;}
					p {margin: 4px 0; font-size: 14px;}
					a {
						font-size: 20px;
						background: $sec-color;
						padding: 10% !important;
					}
					a:hover {background: #1CB4F4 !important;}
					.address {word-break: break-all;}
				}
			}
		}

	}

	section#walletgroups {
		background: $sec-color;
		padding-bottom: 0 !important;
		margin-bottom: 90px;
		.row {
			h2 {color: white;}
			p {
				a {
					padding-bottom: 5px; 
					border-bottom: 1px solid ;
					transition: all .15s;
				}
				a:hover {
					color: $main-color !important;
					border-color: $main-color !important;
					transition: all .15s;
				}
			}
			.preview {
				overflow: hidden;;
				img {width: 100%;}
			}
		}
	}

	.contrbutton {
		display: inline-block;
		border-radius: 7.5px;
		font-size: 20px;
		margin-bottom: 20px;
	}
	.refresh , .info {
		img {
			width: 28px !important;
			margin-right: 0 !important;
			position: absolute;
			left: 10%;
			opacity: .4;
			transition: all .6s;
		}
	}
	.refresh {
		img {left: 6.5%;}
	}
	.refresh:hover {
		img {transform: rotate(360deg);}
	}

	/* Send */
	
	section#send {
		padding-bottom: 0;
		.container {
			padding: 35px 45px 0;
			.row.sendbut {
				padding-bottom: 30px;
			}
			.row {
				.refresh {margin-bottom: 0;}
				.backto {
					margin-bottom: 20px;
					font-size: 18px;
				}
				.backto:before {
					display: inline-block;
					content: '<';
					position: absolute;
					left: 0; top: -3px;
					font-size: 20px;
					font-weight: 600;
					color: $main-color;
				}
				.backto:hover {
					color: $main-color !important;
				}
				.left, .right {
					h2 {margin: 0 0 22.5px 0;}
				}
				.left {
					text-align: center;
					a {
						img {
							width: 30% !important;
							display: block;
							margin: auto;
							margin-bottom: 20px;
							opacity: .75;
							transition: all .6s;
						}
					}
					a {
						img:hover {
							opacity: 1;
							transition: all .6s;
						}
					}
					.buttons {
						a.qr {
							margin-right: 40px;
							font-size: 14px !important;
							padding: 1.3% 2.6%;
							display: inline-block;
						}
						a.subutton {
							background: $sec-color;
							width: 30%;
							padding: 3%;
							display: inline-block;
							font-size: 18px;
						}
						a.subutton:hover {background: #1CB4F4 !important;}
					}
					p {
						color: #999;
						margin: 0 0 45px 0;
						font-weight: 600;
						span {
							color: #333;
							font-weight: 400;
						}
					}
				}
				.right {
					h2 {text-align: center;}
					.controlgroup {
						margin-bottom: 40px;
						label {
							padding: 6px 20px 16px 0;
							width: 100px;
							float: left;
							text-align: right;
						}
						.control {
							margin-left: 100px;
							input {height: 42px;}
							input , textarea {
								padding: 10px;
								border: 1px solid #ccc;
								outline: none;
								transition: border-width .3s;
							}
							input, textarea {width: 70%;}
							textarea {height: 100px;}
							input:focus, textarea:focus {
								border-bottom-color: $sec-color;
								border-bottom-width: 3px;
								transition: border-width .3s;
							}
							button.subutton {
								width: 40% !important;
								padding: 3% !important;
								border: 0px !important;
								outline: 0px !important;
							}
							.verification {
								width: 10px;
								height: 10px;
								display: inline-block;
								border-radius: 50%;
								margin: 15px;
								background-color: #ddd;
								transition: all .15s;
							}
							.right {background-color: #4CAF50; transition: all .15s;}
							.wrong {background-color: #F44336; transition: all .15s;}
						}
					}
				}
			}
		}
	}

	/* Popups */

	.container {
		  width: 100%;
		  margin: 0;
		  padding: 0;
		  z-index: 1;
		  margin-top: 90px;
		.row {
			margin: 0 !important;
			padding: 0 30px;
			.popup {
				padding: 0px;
				background: #f8f8f8;
				border-radius: 10px;
				box-shadow: 0 2px 5px rgba(0,0,0,0.26);
				.row {padding: 20px;}
				.pophead {
					h2 {margin: 0; font-family: $sec-font !important;}
					button.close {
						-webkit-appearance: none;
						padding: 0;
						cursor: pointer;
						background: transparent;
						border: 0;
					}
					.close {
						float: right;
						font-size: 30px;
						font-weight: bold;
						line-height: .6;
						color: $detail-color;
						opacity: 1;
						text-shadow: 0 0 0 transparent;
						transition: all .15s;
					}
					button.close:hover {
						color: #008275;
						transition: all .15s;
						transform: rotate(90deg)
					}
				}
				.popbody {
					form {
						.control {
							padding-bottom: 20px;
							box-sizing: border-box;
							h3 {
								margin: 0;
								font-size: 34px;
								width: 20%;
								display: inline-block;
								padding: 0 15px;
							}
							.selecthold {
								width: 20%;
								height: 42px;
								display: inline-block;
								padding-right: 15px;
								select {
									width: 100%;
									height: 100%;
									padding: 0 5px;
									font-size: 20px;
								}
								select:focus {outline: -webkit-focus-ring-color auto 0px;}
							}
							input {
								height: 42px;
								padding: 10px;
								border: 1px solid #ccc;
								outline: none;
								transition: border-width .3s;
								width: 50%;
								display: inline-block;
							}
							input:focus {
								border-bottom-color: $sec-color;
								border-bottom-width: 3px;
								transition: border-width .3s;
							}
							.actions {
								width: 30%;
								height: 42px;
								padding: 0 15px;
								display: inline-block;
								.subutton {
									padding: 4.5px;

									width: 100%;
								}
							}

						}
					}
					p {
						span {line-height: 200%; font-size: 14px;}
						font-size: 12px;
						color: #bbb;
					}
				}
			}
		}
	}

	/* Merchant */

	/* About us */

	/* FAQ */
	section#faq {
		.container {
			.row {
				margin: 0 30px !important;
				padding: 30px 0;
				border-bottom: 1px solid #E7E7E7;
				div {
					padding: 0 30px;
					h3 {
						color: $detail-color !important;
						margin: 0 0 30px;
					}
					p {position: relative;}
					p:before {
						width: 75%;
						height: 1px;
						background: $sec-color;
						display: block;
						position: absolute;
						top: -15px;
						content: '';
					}
					a {color: $detail-color !important;}
				}
			}
		}
	}
}

/* Medias */
@media (max-width: 1200px) {
	body {
		section#explanations {
			.row {
				div {
					margin-bottom: 60px;
					padding: 0 !important;
				}
			}
		}
		section#faq {
			.row {
				border-bottom: 0 !important;
				padding: 0 !important;
				h1 {margin-bottom: 30px !important;}
				div {
					padding: 30px !important;
				}
			}
		}
		section#balance {
			.addr {
				.coin {
					.coin-logo {width: 80px !important; margin: auto; display: block;}
					h1 {
						display: none;
						visibility: hidden;
						width: 0;
					}
				}
			}
			.contrbutton {
				margin-bottom: 40px;
			}		
		}
		section#send {
			.subutton {
				margin: 20px 0 0 0;
			}
		}
		.subutton {
			padding: 3% 2.6% !important;
		}
	}
}
@media (max-width: 992px) {
	body {
		section#send {
			.row {
				.left {
					margin-bottom: 90px;
				}
			}
			.row.sendbut {
				padding-bottom: 45px;
				.backto {
					font-size: 22px !important;
					padding-left: 25px;
				}
				.backto:before {
					top: -12px !important;
					font-size: 34px !important;
				}
			}
		}
		section#send, section#transactions {
			h2 {font-size: 40px;}
		}

	/* Menu modifiers for mobile */
	
		header {
			padding-bottom: 0 !important;
			nav {
				padding: 0 !important;
				ul.mainnav, ul.secnav {
					display: block !important;
					height: auto;
					max-height: 0;
					text-align: center;
					background: rgba(0,0,0,.1);
					transition: max-height .6s, border-width .6s;
					overflow: hidden;
					li {
						display: block !important;
						margin: 0 35% !important;
						font-size: 24px !important;
					}
				}
				ul.mainnav {
					margin-top: 15px !important;
					li:first-child {padding-top: 13px;}
					li:last-child {padding-bottom: 15px;}
				}
				ul.secnav {
					width: 100%;
					border-bottom: 0px solid rgba(0,0,0,.1);
					li:last-child {padding-bottom: 26px;}
				}
				ul.secnav.openmenu {
					border-bottom: 5px solid rgba(0,0,0,.1);
					transition: all .6s;
				}
				.hambutton {
					visibility: visible; 
					width: 85px;
					height: 85px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	body {
		header {
			nav {
				ul.mainnav, ul.secnav {
					li {
						margin: 0 25% !important;
					}
				}
			}
		}
	}
}

/* Animations */

@-webkit-keyframes in {
	0%   {opacity: 0; transform: translateY(30px)}
	100% {opacity: 1; transform: translateY(0px)}
}
@-moz-keyframes in {
	0%   {opacity: 0; transform: translateY(30px)}
	100% {opacity: 1; transform: translateY(0px)}
}
@-o-keyframes in {
	0%   {opacity: 0; transform: translateY(30px)}
	100% {opacity: 1; transform: translateY(0px)}
}
@keyframes in {
	0%   {opacity: 0; transform: translateY(30px)}
	100% {opacity: 1; transform: translateY(0px)}
}